<!DOCTYPE html>
<html lang="en">

<head>
    </div>
    <!-- Jquery引用 -->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.5.1/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="init()">
    <div id="testNode" class="background">
        <!--<div class="block"></div>-->
        <div class="ball"></div>
        <div class="broad"></div>
    </div>
</body>

<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .background {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .block {
        position: fixed;
        width: 30px;
        height: 15px;
        background-color: sienna;
    }

    .ball {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        bottom: 15px;
        background-color: seagreen;
    }

    .broad {
        position: absolute;
        width: 100px;
        height: 10px;
        bottom: 5px;
        background-color: red;
        z-index: 1000;
    }
</style>

<script>
    // 板长
    var borderWidth = 100;
    var borderHeight = 10;
    // 球办径
    var ballWidth = 5;
    // 方块大小
    var blockWidth = 30;
    var blockHeight = 15;
    // 板坐标
    var borderX;
    var borderY = 0;
    // 球坐标
    var ballX;
    var ballY = borderHeight + ballWidth;
    // 边框大小
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    // 坐标偏移量
    var xChange = -1;
    var yChange = 1;

    function init() {
        initBlock();
    }

    function initBlock() {
        hartBlock();
    }

    document.onmousemove = function (mouthPosition) {
        borderX = mouthPosition.clientX - borderWidth / 2;
        $(".broad").css("left", borderX);
        if (ballY === 15) {
            ballX = mouthPosition.clientX - ballWidth;
            $(".ball").css({ "left": ballX, "bottom": ballY })
        }
    };

    document.onmousedown = function () {
        if (ballY === 15) {
            console.log("开始");
            moveball();
        }
    };

    function moveball() {
        var index;
        // 每100毫秒更新一次球的位置
        index = setInterval(function move() {
            ballX = ballX + xChange;
            ballY = ballY + yChange;
            $(".ball").css({ "left": ballX, "bottom": ballY });
            // 碰触到边界时改变方向
            changeWay();
            // 碰触到板改变方向
            touchBroad();
            // 碰触到方块改变方向
            var blocks = document.getElementsByClassName("block");
            for (var block of blocks) {
                touchBlock(block);
            }
        }, 1)
    }

    /** 球碰触到边界 */
    function changeWay() {
        if (ballX === windowWidth - ballWidth || ballX === ballWidth) {
            xChange = -xChange;
        } else if (ballY === windowHeight - ballWidth) {
            yChange = -yChange;
        } else if (ballY < ballWidth - ballWidth) {
            // 球没接到
            location.reload();
            ballY = borderHeight + ballWidth;
        }
    }

    /** 球碰触到板 */
    function touchBroad() {
        if(((ballY - ballWidth) === (borderY + borderHeight)) && borderX <= ballX && ballX <= (borderX + borderWidth)) {
            yChange = -yChange;
        }
    }

    /** 球碰触到方块 */
    function touchBlock(block) {
        xAixs = parseInt(block.style.left);
        yAxis = parseInt(block.style.bottom);
        var beRemove = false;
        // 碰撞上方
        if(((ballY + ballWidth) === (yAxis + blockHeight)) && xAixs <= ballX && ballX <= (xAixs + blockWidth)) {
            console.log("碰撞上方，坐标：（" + ballX + ", " + ballY + ")");
            yChange = -yChange;
            beRemove = true;
            // 碰撞下方
        } else if (((ballY + ballWidth) === (yAxis)) && xAixs <= ballX && ballX <= (xAixs + blockWidth)) {
            yChange = -yChange;
            console.log("碰撞上方，坐标：（" + ballX + ", " + ballY + ")");
            beRemove = true;
            // 碰撞左方
        } else if (((ballX + ballWidth) === (xAixs)) && yAxis <= ballY && ballY <= (yAxis + blockHeight)) {
            xChange = -xChange;
            console.log("碰撞左方，坐标：（" + ballX + ", " + ballY + ")");
            beRemove = true;
             // 碰撞右方
        } else if (((ballX - ballWidth) === (xAixs + blockWidth)) && yAxis <= ballY && ballY <= (yAxis + blockHeight)) {
            xChange = -xChange;
            console.log("碰撞右方，坐标：（" + ballX + ", " + ballY + ")");
            beRemove = true;
            // 碰撞左下角
        } else if ((ballX + ballWidth) > xAixs) {

        }

        if (beRemove) {
            removeBlock(block);
        }
    }

    /** 被碰撞到的方块要消失 */
    function removeBlock(block) {
        block.remove();
    }

    /** 方块排放工具 */

    /** 一排横向方块 */
    function horizontalBlock() {
        for (let i = 0; i < 10; i++) {
            var blockNode = document.createElement("div");
            blockNode.className = "block";
            blockNode.id = "block" + i;
            let leftPx = 20+50*i;
            blockNode.style.left = leftPx + "px";
            blockNode.style.bottom = 100 + "px";
            document.getElementsByClassName("background")[0].appendChild(blockNode);
        }
    }

    /** 心形方块 */
    function hartBlock() {
        for (let i = 0; i < 7; i++) {
            for (let j = 0; j < 6; j++) {
                if (!(((i===0 || i===3 || i===6) && j===5) ||
                    ((i===0 || i===6) && j===2 ) ||
                    ((i===0 || i===1 || i===5 || i===6) && j===1) ||
                    (i!==3 && j===0))) {
                    var blockNode = document.createElement("div");
                    blockNode.className = "block";
                    let leftPx = 20+50*i;
                    let bottomPx = 100+30*j;
                    blockNode.style.left = leftPx + "px";
                    blockNode.style.bottom = bottomPx + "px";
                    document.getElementsByClassName("background")[0].appendChild(blockNode);
                }
            }
        }
    }
</script>

</html>